
temp/*.o
temp/*.ppu
temp/*.a
temp/*.compiled
temp/

binary/*
!binary/resources/

!libs/x86_64-linux/
!libs/x86_64-windows/
!libs/x86_32-windows/
!libs/x86_32-linux/

# macos
.DS_Store
#*.dylib

# other git repo
raylib-gizmo/
raylib/
raygui/
r3d/

# laz
backup/


#examples/
lib/
templates/standard_game/
*.lps

# GNU+Linux
# *.so
